@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div id="logo">
        <img src="~/media/Let_it_grow_logo.png" srcset="~/media/Let_it_grow_logo.svg" alt="Let it Grow!" height="auto" width="80%" />
    </div>
    <div id="goals">
        talk about our goals
    </div>
    <div id="facts">
        talk about some facts
    </div>
    <div id="about-us">
        who are we?
    </div>
    <div id="product">
        the product
    </div>
    <div id="bottom">
        lower part
    </div>
</div>